.select-group {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: black;
  height: 45px;

  margin: 20px 0 30px 0;
}

/* For the arrow to appear the parent must be relative and the child absolute */
/* https://moderncss.dev/custom-select-styles-with-pure-css/ */

/* For the arrow we could simply drag a svg icon for rotating it easier...*/
 .select-group:after {
  position: absolute;
  content: "";
  top: 27px;
  right: 15px;

  width: 20px;
  height: 10px;

  background-color: white;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
} 

select {
  font-size: 20px;
  font-weight: 700;
  
  color: white;
  border: 3px solid white;
  background-color: transparent;

  border-radius: 7px;
  padding: 15px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  

}
select:focus {
  outline: 0;
}

option{
  background-color: black;
}

option:after {
  content: " ";
  height: 5px;
  width: 5px;
  background: #c00;
  border-radius: 5px;
  display: inline-block;
}

